{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} Car</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-buttons mt-4">
      <input type="submit" value="Save" class="btn btn-primary">
      <a href="{% if object %}{% url 'taxi:car-detail' pk=object.id %}{% else %}{% url 'taxi:car-list' %}{% endif %}"
         class="btn btn-secondary">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
